html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #282a36;
}

h1 {
    color: #ff79c6;
    font-size: 50px;
}

.container {
    width: 1000px;
    height: 600px;
    margin: 4px;
    text-align: center;
    padding: 10em 1em 1em 1em;
}

#polymorph {
    padding-top: 100px;
    padding-left: 120px;
    width: 800px;
    height: 800px;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.buttoncontainer {
    padding-left: 200px;
    width: 600px;
    height: 200px;
    text-align: center;
}

.playButton {
    background-color: #44475a;
    border: none;
    color: white;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.pauseButton {
    background-color: #44475a;
    border: none;
    color: white;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}